extends layout



block content
  script(src="javascripts/plotter-ui.js")
  script(src="javascripts/jquery-2.1.1.js")
  h1= title
  p Welcome to #{title}
  button(onclick="home()") Home
  br
  textarea#program(rows=5,cols=50) [{"action": "moveto", "x": 0, "y": 0},{"action": "moveto", "x": 1, "y": 1}]
  br
  button(onclick="runProgram()") Run
  br
  button(onclick="sweep()") Sweep
  button(onclick="stop()") Stop  
    
