extends layout



block content
  script(src="javascripts/plotter-ui.js")
  script(src="javascripts/jquery-2.1.1.js")
  h1= title
  p Welcome to #{title}
  button(onclick="home()") Home
  br
  button(onclick="sweep()") Sweep
  button(onclick="run()") Run
  button(onclick="stop()") Stop  
    
